@import 'variables';
@import 'mixins';

@include exports('momentum-ui-icons-path') {

  @font-face {
    font-family: $icon-font-name;
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?bfe2f9ad794daf354a086076ac007d7d") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?6154bc89b225595eb97892298d928277") format("woff");
    font-weight: normal;
    font-style: normal;
  }

}
