@import 'variables';
@import 'mixins';

@include exports('momentum-ui-icons-path') {

  @font-face {
    font-family: $icon-font-name;
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?bb371eb5ba28d65606459b428850571e") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?646277a2d4636bbe10636847e0c8b7b1") format("woff");
    font-weight: normal;
    font-style: normal;
  }

}
