@import 'variables';
@import 'mixins';

@include exports('momentum-ui-icons-path') {

  @font-face {
    font-family: $icon-font-name;
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?85de54e6d4978bd0e2cdc1a60cd67b7a") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?b4c0080e07385063e819ca0999d537cf") format("woff");
    font-weight: normal;
    font-style: normal;
  }

}
